{% extends "InicioApp/baselogin.html" %}

{% load static %}


{% block content %}


{% if form.errors %}
<p>Su Usuario y Contraseña son invalidos. Intente de Nuevo</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta página. Para proceder,
        inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Inicie sesión para ver esta página.</p>
    {% endif %}
{% endif %}



<div class="container-sm" style="margin-top: 70px;">
    <h4 class="text-center">INICIO DE SESION</h4><br>
    <form action="" method="POST" ALIGN='center' >
        {% csrf_token %}
        <table ALIGN='center'>
            <tr>
                <td>{{ form.user}}</td>
            </tr>
            <tr>
                <td>{{ form.password}}</td>
            </tr>
        </table>
          <br><br>
    <button class="btn btn-primary" type="submit">Ingresar</button>
    <button class="btn btn-danger" type="reset">Cancelar</button>
    </form>
</div>

<div class="container-sm" style="margin-top: 130px;" ALIGN='center'>
    <h3 class="text-black">MUNICIPALIDAD DE ZACAPA ADMIN. 2020-2024</h3>
</div>

{% endblock %}