{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<!-- ======= Imagen de esta Pagina ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Municipalidad de Zacapa,<br>Admin 2020-2024</h1>
      <div id="TT_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></div>
      <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></script>

    </div>
  </section><!-- Fin Imagen de esta Pagina -->
<div class="container-sm" aling="center" style="margin: 10px; padding: 10px;">
<h3 class="text-center text-danger">DOCUMENTACION DE LEYES ACCESO A LA INFORMACION PUBLICA</h3>
<table class="table table-bordered" style="width: 100%; height: auto; text-align: center;">
    <thead style="background-color: grey; color: white;">
      <td>Documento</td>
      <td>Archivo</td>
    </thead>
{% for doc in docs %}
<tbody>
  <td>{{doc.nombre}}</td>
  <td><a href="{{ doc.documento.url }}"><img src="../../../media/icons/pdf_img.jpg" width="40px;" /></a></td>  
</tbody>
{% endfor %}
</table>
</div>

{% endblock %}