{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<!-- ======= Imagen de esta Pagina ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Municipalidad de Zacapa,<br>Admin 2020-2024</h1>
      <div id="TT_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></div>
      <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></script>

    </div>
  </section><!-- Fin Imagen de esta Pagina -->

  {% if "valido" in request.GET %}
  <div class="alert alert-success" role="alert">    
      <p>Tu Informacion Se Envio Correctamente Verifica tu Correo Electronico 
        Donde se ha enviado el Numero de tu Solicitud
        Municipalidad de Zacapa Para Servite!
      </p>
  </div>
{% endif %}  

<h3 class="text-center text-danger">FORMULARIO PARA SOLICITUD DE INFORMACION PUBLICA</h3>
<div class="container-sm text-center">
  <form action="" method="POST" aling="center" class="align-items-center">
    {% csrf_token %}   
<table>
    {{formulario.as_table}}
</table>
<button class="btn btn-primary" type="submit">Enviar</button>
</form>

</div>

{% endblock %}