{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<h3 class="text-center text-danger" style="padding: 20px;">SECCION DE DOCUMENTALES</h3>

<div class="container-sm">
  <div class="row">
{% for video in doc %}
  <div class="col">
    <iframe width="520" height="315" 
        src="{{video.url|escape}}" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <div class="ft-vd" style="border-style:groove; width: 520px;">
      {{video.nombre|escape}}<br>
      {{video.descripcion|escape}}<br>
      {{video.oficina|escape}}
    </div>  
  </div>
{% endfor %}
</div>
</div>






{% endblock %}