{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<!-- ======= Imagen de esta Pagina ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Municipalidad de Zacapa,<br>Admin 2020-2024</h1>
      <div id="TT_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></div>
      <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></script>

    </div>
  </section><!-- Fin Imagen de esta Pagina -->
<h3 class="text-center text-danger" style="padding: 20px;">SECCION DE DOCUMENTALES</h3>

<div class="videos">
  {% for video in doc %}
  <iframe width="560" height="315" 
  src="{{video.url}}" 
  title="YouTube video player" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen>
  </iframe>
  <div>
    <p>{{video.nombre}}</p>
  </div>
  {% endfor %}
</div>


{% endblock %}