{% extends 'InicioApp/base2.html' %}

{% block content %}

<div class="container" align="center">
    <div class="alert alert-secondary" role="alert">
    <br> Departamento de Desechos Solidos <br><br>
    </div>
</div>


<div class="container" align="center">
    <div class="row">
      <div class="col">
        <a href="#">
        <img src="https://cdn-icons.flaticon.com/png/128/2612/premium/2612767.png?token=exp=1643992108~hmac=7832c39a674cf7bce2ebd5405ffd06ce" class="card-img-top" style="width: 100px;"><br>
        <p class="text-danger"><strong>Estado de Cuenta</strong></p>
        </a>
      </div>
      <div class="col">
        <a href="#">
        <img src="https://cdn-icons.flaticon.com/png/128/2612/premium/2612842.png?token=exp=1643992108~hmac=07a2989b571c4849ae38abefc01a7d32" class="card-img-top" style="width: 100px;"><br>
        <p class="text-danger"><strong>Actualizacion de Datos</strong></p>
        </a>
      </div>
      <div class="col">
        <a href="#">
        <img src="https://cdn-icons.flaticon.com/png/128/2612/premium/2612775.png?token=exp=1643992108~hmac=5e107297ffc39847bec5af1233af80c1" class="card-img-top" style="width: 100px;"><br>
        <p class="text-danger"><strong>Notificaciones</strong></p>
        </a>
      </div>
    </div>
  </div>
  </div>

{% endblock %}

