{% extends 'InicioApp/base2.html' %}

{% block content %}

<div class="container" align="center">
    <div class="alert alert-info" role="alert">
    <br> Mi Perfil <br><br>
    </div>
</div>    

<div class="container" align="center">

    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Completar Tu Perfil</div>
              Añade tus datos para estar actualizado
        </div>
        <a href="{% url 'FullPerfil' %}"><span class="badge bg-primary rounded-pill">Ir</span></a>
      </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Cambio de Contraseña</div>
                Puedes Cambiar la Contraseña de tu Usuario
          </div>
          <a href="#"><span class="badge bg-primary rounded-pill">Ir</span></a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Cambio de Email</div>
                  Puedes Cambiar Su Email para Notificacion
            </div>
            <a href="#"><span class="badge bg-primary rounded-pill">Ir</span></a>
          </li>
      </ol>

</div>
<br><br>

{% endblock %}

