{% extends 'InicioApp/base2.html' %}

{% block content %}


<div class="container" align="center">
    <div class="alert alert-primary" role="alert">
    <br> Mis Servicios <br><br>
    
   
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/619/619153.png" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>IUSI</strong></p>
            </a>
          </div>
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/932/932532.png" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Depto.Agua</strong></p>
            </a>
          </div>
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/3299/3299935.png" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Desechos Solidos</strong></p>
            </a>
          </div>
        </div>
      </div>
      </div>

      <div class="alert alert-primary" role="alert">
        <br> Mis Gestiones<br><br>
        
      <!--Segunda Seccion-->
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/2511/premium/2511969.png?token=exp=1643729028~hmac=362c116c44b3fa1f4e8b9d47a46b295e" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Mi Buzon</strong></p>
            </a>
          </div>
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/3297/premium/3297310.png?token=exp=1643729153~hmac=17cea34a62f1da1851e3a6366ce455a1" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Mis Solicitudes</strong></p>
            </a>
          </div>
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/1844/premium/1844809.png?token=exp=1643733203~hmac=87ee03d6ea9e480d85c9f16b2dadcb54" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Tu Muni Informa</strong></p>
            </a>
          </div>
        </div>
      </div>  
      </div>
      <!--Fin Segunda Seccion-->

      <div class="alert alert-primary" role="alert">
      <br> Mis Actualizaciones<br><br>
      <!--Tercera Seccion-->
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/1601/premium/1601884.png?token=exp=1643732527~hmac=e74c5b6f04e1216dfb69c7ad48afea18" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Actualizacion Cuenta IUSI</strong></p>
            </a>
          </div>
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/1601/premium/1601884.png?token=exp=1643732527~hmac=e74c5b6f04e1216dfb69c7ad48afea18" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Actualizacion Cuenta Depto. Agua</strong></p>
            </a>
          </div>
          <div class="col">
            <a href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/1601/premium/1601884.png?token=exp=1643732527~hmac=e74c5b6f04e1216dfb69c7ad48afea18" class="card-img-top" style="width: 100px;"><br>
            <p class="text-danger"><strong>Actualizacion Cuenta Desechos Solidos</strong></p>
            </a>
          </div>
        </div>
      </div>  
      </div>
      <!--Fin Tercera Seccion-->




</div>



{% endblock %}