{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<!-- ======= Imagen de esta Pagina ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Municipalidad de Zacapa,<br>Admin 2020-2024</h1>
      <div id="TT_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></div>
      <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></script>

    </div>
  </section><!-- Fin Imagen de esta Pagina -->

<main id="main">
    <section id="about" class="about">
        <div class="album py-5 bg-light" data-aos="fade-up">
            <div class="container">
                <h1 class="text-center text-danger">
                    ART.10 INFORMACIÓN PÚBLICA DE OFICIO
                </h1>
                <p>
                    Los Sujetos Obligados deberán mantener, actualizada y disponible, en todo momento, 
                    de acuerdo con sus funciones y a disposición de cualquier interesado, como mínimo, 
                    la siguiente información, que podrá ser consultada de manera directa o a través 
                    de los portales electrónicos de cada sujeto obligado:
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../media/noticias/n1.jpg" alt="">
                            <div class="card-body" style="background-color:navy;">
                                <p class="text-white">Titulo de Item</p>
                            </div>
                        </div>
                        
                    </div>
                    

                </div>

            </div>

        </div>
    </section>
</main>
{% endblock %}