{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<main id="main">
    <section id="about" class="about">
        <div class="album py-5 bg-light" data-aos="fade-up">
            <div class="container">
                <h1 class="text-center text-danger">
                    ART.10 INFORMACIÓN PÚBLICA DE OFICIO
                </h1>
                <p>
                    Los Sujetos Obligados deberán mantener, actualizada y disponible, en todo momento, 
                    de acuerdo con sus funciones y a disposición de cualquier interesado, como mínimo, 
                    la siguiente información, que podrá ser consultada de manera directa o a través 
                    de los portales electrónicos de cada sujeto obligado:
                </p>
            <div class="row">    
            {% for items in items %}
                
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ items.imagen.url }}" alt="">
                            <div class="card-body" style="background-color:#5B8DFF;">
                                <p class="text-white text-center">
                                    {{ items.nombre }}
                                </p>
                                <p class="text-white text-center">
                                    <a type="button" class="btn btn-danger" href="{% url 'ver' items.id %}">Ver</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    
            {% endfor %}    
                </div>

            </div>

        </div>
    </section>
</main>
{% endblock %}