{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<br>
  
<div class="container-sm">
  <table class="table table-bordered" style="width: 100%; height: auto; text-align: center;">
    <thead style="background-color: grey; color: white;">
      <td>Hilo</td>
      <td>Año</td>
      <td>Documento</td>
    </thead>
    {% for data in data %}  
    <tbody>
      <td>{{data.folder}}</td>
      <td>{{data.agno}}</td>
      <td><a href="{{ data.documento.url }}"><img src="../../../media/icons/pdf_img.jpg" width="40px;" /></a></td>  
    </tbody>
    {% endfor %}
  </table>
</div>

  

{% endblock %}