{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<!-- ======= Imagen de esta Pagina ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Municipalidad de Zacapa,<br>Admin 2020-2024</h1>
      <div id="TT_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></div>
      <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></script>

    </div>
  </section>

  <br>
  
<div class="container-sm">
  <table class="table table-bordered" style="width: 100%; height: auto; text-align: center;">
    <thead style="background-color: grey; color: white;">
      <td>Hilo</td>
      <td>Año</td>
      <td>Documento</td>
    </thead>
    {% for data in data %}  
    <tbody>
      <td>{{data.folder}}</td>
      <td>{{data.agno}}</td>
      <td><a href="{{ data.documento.url }}"><img src="../../../media/icons/pdf_img.jpg" width="40px;" /></a></td>  
    </tbody>
    {% endfor %}
  </table>
</div>

  

{% endblock %}