{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

 <br>
  {% for titulo in titulo %}
    <h2 class="text-center text-danger">{{titulo.nombre}}</h2><br>
    <h5 class="text-center text-secondary">{{titulo.descripcion}}</h5> 
  {% endfor %} 
  <div class="container-sm" style="padding: 10px; margin: 10px;"> 
    <div class="row">  
        {% for folder in folder %}
        
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">{{folder.item}}</div>
          <div class="card-body text-center">
            <h5 class="card-title text-center">
              <a href="{% url 'carpeta' folder.id %}">{{folder.nombre}}</a>
            </h5>
            <div class="card-footer bg-transparent border-success">{{folder.updated}}</div>
          </div>
        </div> 
        {% endfor %}
      </div>     
    </div>            


{% endblock %}