{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<!-- ======= Imagen de esta Pagina ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Municipalidad de Zacapa,<br>Admin 2020-2024</h1>
      <div id="TT_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></div>
      <script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JetArBYxdzB91a8UMfzDzzjDjtuUTcDlbYEtEZioKEj"></script>

    </div>
  </section><!-- Fin Imagen de esta Pagina -->

  {% for titulo in titulo %}
    <h2 class="text-center text-danger">{{titulo.nombre}}</h2><br>
    <h5 class="text-center text-secondary">{{titulo.descripcion}}</h5> 
  {% endfor %} 
  <div class="container-sm" style="padding: 10px; margin: 10px;"> 
    <div class="row">  
        {% for folder in folder %}
         
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{folder.nombre}}</h5>
                <p class="card-text">{{folder.agno}}</p>
                <a href="#" class="btn btn-primary">Ver Documentacion</a>
              </div>
            </div>
          </div>  
        {% endfor %}
      </div>     
    </div>            


{% endblock %}