{% extends "InicioApp/base.html" %}

{% load static %}


{% block content %}

<div class="container" aling="center" style="background-color: beige; width: auto; 
 margin: 20px auto !important;">
 <!--para pregutar si ya se envio datos-->
    {% if "valido" in request.GET %}
        <div class="alert alert-success" role="alert">    
            <p>Tu Informacion Se Envio Correctamente</p>
        </div>
    {% endif %}

    <h1 class="text-center">FORMULARIO DE CONTACTO</h1><br>
    <form action="" method="POST" aling="center" class="align-items-center">
        {% csrf_token %}<!--es la seguridad de para evitar hackeo
        es un campo oculto con una encriptacion-->    
    <table>
        {{formulario.as_table}}
    </table><br>
    <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</div>

{% endblock %}