<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Tu Espacio MuniZac </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'LoginApp/assets/css/bootstrap/css/bootstrap.min.css ' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'LoginApp/assets/icon/themify-icons/themify-icons.css ' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'LoginApp/assets/icon/font-awesome/css/font-awesome.min.css ' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'LoginApp/assets/icon/icofont/css/icofont.css ' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'LoginApp/assets/css/style.css ' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'LoginApp/assets/css/jquery.mCustomScrollbar.css ' %}">
  </head>

  <body>
    {% if user.is_authenticated and user.is_active %}
    
       <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="loader-bar"></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
           <!--menu Usuario de Logeo-->
            <nav class="navbar header-navbar pcoded-header">

               <div class="navbar-wrapper">
                 <!--parate donde esta el boton de menu-->
                   <div class="navbar-logo">
                       <a href="#">
                           MuniZac WorkSpace
                       </a>
                       <a class="mobile-options">
                           <i class="ti-more"></i>
                       </a>
                   </div>
                    <!--fin parate donde esta el boton de menu-->
                   <div class="navbar-container container-fluid">
                       <ul class="nav-left">
                           <li>
                               <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                           </li>
                           
                       </ul>
                       <ul class="nav-right">
 
                        <!--Fin Item 1 de Menu-->

                        <!--Item Logeo de Menu-->
                        <li class="user-profile header-notification">
                            <a href="#!">
                                <span>{{user}}</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            
                            <ul class="show-notification profile-notification">
                                <li>
                                    <a href="#!">
                                        <i class="ti-settings"></i> Configuraciones
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-user"></i> Perfil
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="ti-lock"></i> Actividad
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'Logout' %}">
                                    <i class="ti-layout-sidebar-left"></i> Cerrar Sesion
                                </a>
                                </li>
                            </ul>
                        </li> 
                        <!--Fin Item Logeo de Menu-->



                       </ul>
                       <!--fin barra de menu-->
                   </div>
               </div>
           </nav>
        </div>
    </div>       
           <!--fin de menu Usuario de Logeo-->

<!--Menu Barra Lateral-->
<!--Fin Menu Barra Lateral-->
{% endif %}
    {% block content %}





    {% endblock %}

     
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'LoginApp/assets/js/jquery/jquery.min.js ' %}"></script>
<script type="text/javascript" src="{% static 'LoginApp/assets/js/jquery-ui/jquery-ui.min.js ' %}"></script>
<script type="text/javascript" src="{% static 'LoginApp/assets/js/popper.js/popper.min.js ' %}"></script>
<script type="text/javascript" src="{% static 'LoginApp/assets/js/bootstrap/js/bootstrap.min.js ' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'LoginApp/assets/js/jquery-slimscroll/jquery.slimscroll.js ' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'LoginApp/assets/js/modernizr/modernizr.js ' %}"></script>
<!-- am chart -->
<script src="{% static 'LoginApp/assets/pages/widget/amchart/amcharts.min.js ' %}"></script>
<script src="{% static 'LoginApp/assets/pages/widget/amchart/serial.min.js ' %}"></script>
<!-- Chart js -->
<script type="text/javascript" src="{% static 'LoginApp/assets/js/chart.js/Chart.js ' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'LoginApp/assets/pages/todo/todo.js  ' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'LoginApp/assets/pages/dashboard/custom-dashboard.min.js ' %}"></script>
<script type="text/javascript" src="{% static 'LoginApp/assets/js/script.js ' %}"></script>
<script type="text/javascript " src="{% static 'LoginApp/assets/js/SmoothScroll.js ' %}"></script>
<script src="{% static 'LoginApp/assets/js/pcoded.min.js ' %}"></script>
<script src="{% static 'LoginApp/assets/js/vartical-demo.js ' %}"></script>
<script src="{% static 'LoginApp/assets/js/jquery.mCustomScrollbar.concat.min.js ' %}"></script>
</body>

</html>
